In [1]:
print('Hello world')

Hello world

# Array operation

2**32

In [2]:
2**23

8388608

In [3]:
num  123**321

SyntaxError: invalid syntax (<ipython-input-3-5b07d0dba88c>, line 1)

In [4]:
num 4321 ** 321

SyntaxError: invalid syntax (<ipython-input-4-02e718b88675>, line 1)

In [5]:
num =4321 ** 321

In [6]:
num

1053293698376557122786724267425757226097007026829652406561152719185531079045369852712531493221907656592285282833851360929613633930290344675545804707004241111633956420146293324645136191533072334299539099180836803067655591447345708115277553781505200714791113757993274230286393353129476873251379151057561440528832829778922443528771588242807680218093933166424761240135018863855976616293994335704354596308532212677388666830764269084564424784634255585030331486047416923495357268388100794573429562486358806207782706218908235221730252446322410772290456330630460963414403086034460073907395046609410508652446797658689854335755773749064255455503557369830696706041102254836770539504214688848067070851037931264558622333009939075267578427386620357798263223701190986729990023136025195921089563339160081545437054713678317187324028086212482790327663253822599708367012167101832962543369027898371378221773300696834474138160343202434707623992529653779954138914055126711321919217601205950741706859473414397935502984655585090350166940654504332729347407514832951699129483352699926254073629916746472505056937172974333443083419346995670647202242015635043224322680825176291121718453299811690721

In [7]:
import numpy as np

In [8]:
num = np.array([37,23,11,56,42,36,64])

In [9]:
print(num)

[37 23 11 56 42 36 64]

In [10]:
num

array([37, 23, 11, 56, 42, 36, 64])

In [11]:
num.dtype

dtype('int32')

In [12]:
num.size

7

In [13]:
num[3]

56

In [14]:
num[3] = 35
num

array([37, 23, 11, 35, 42, 36, 64])

In [15]:
num = np.array([37, 23, 11, 35, 42, 36, 64])

In [16]:
num

array([37, 23, 11, 35, 42, 36, 64])

In [17]:
num.dtype

dtype('int32')

In [18]:
num.dtype

AttributeError: 'numpy.ndarray' object has no attribute 'dtypearray'

In [20]:
num[1]

23

In [22]:
num = np.array([37, 23, 11, 35.40, 42, 36, 64]) 
num

array([37. , 23. , 11. , 35.4, 42. , 36. , 64. ])

In [23]:
num.dtype

dtype('float64')

In [24]:
num[1]

23.0

In [25]:
num = np.array([37, 23, 11, 35,40, 42, 36, 64,True])
num

array([37, 23, 11, 35, 40, 42, 36, 64,  1])

In [26]:
num = np.array([37, 23, 11, 35,40,'Hello', 42, 36, 64])

In [27]:
num

array(['37', '23', '11', '35', '40', 'Hello', '42', '36', '64'],
      dtype='<U11')

In [114]:
city = np.array(['पुणे' ,'मुंबई','नासिक' ,'पंढरपूर' ,'सोलापूर'])
city

array(['पुणे', 'मुंबई', 'नासिक', 'पंढरपूर', 'सोलापूर'], dtype='<U7')

In [115]:
city[0]

'पुणे'

In [33]:
city = np.array(['पुणे' ,'मुंबई','नासिक' ,'पंढरपूर' ,'सोलापूर'])
city

array(['पुणे', 'मुंबई', 'नासिक', 'पंढरपूर', 'सोलापूर'], dtype='<U7')

In [34]:
city[0]

'पुणे'

In [35]:
city[0]*5

'पुणेपुणेपुणेपुणेपुणे'

In [36]:
n = [37, 23, 11, 35.40, 42, 36, 64]
n*2

[37, 23, 11, 35.4, 42, 36, 64, 37, 23, 11, 35.4, 42, 36, 64]

In [113]:
num * 2

array([ 74,  46,  22,  70,  80,  84,  72, 128,   2])

In [38]:
num = np.array([37, 23, 11, 35,40, 42, 36, 64,True])
num

array([37, 23, 11, 35, 40, 42, 36, 64,  1])

In [39]:
num * 2

array([ 74,  46,  22,  70,  80,  84,  72, 128,   2])

In [40]:
num/10

array([3.7, 2.3, 1.1, 3.5, 4. , 4.2, 3.6, 6.4, 0.1])

In [41]:
num-10

array([27, 13,  1, 25, 30, 32, 26, 54, -9])

In [42]:
num >10

array([ True,  True,  True,  True,  True,  True,  True,  True, False])

In [43]:
42 in num

True

In [44]:
89 not in num

True

In [45]:
list(range(1,11))

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10]

In [54]:
list(range(10))

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9]

In [49]:
list(range(10))

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9]

In [53]:
np.arange(1,10,2)

array([1, 3, 5, 7, 9])

In [51]:
np.arange(1,10,2)

array([1, 3, 5, 7, 9])

In [52]:
np.arange(1,10,0.25)

array([1.  , 1.25, 1.5 , 1.75, 2.  , 2.25, 2.5 , 2.75, 3.  , 3.25, 3.5 ,
       3.75, 4.  , 4.25, 4.5 , 4.75, 5.  , 5.25, 5.5 , 5.75, 6.  , 6.25,
       6.5 , 6.75, 7.  , 7.25, 7.5 , 7.75, 8.  , 8.25, 8.5 , 8.75, 9.  ,
       9.25, 9.5 , 9.75])

In [55]:
np.zeros(12)

array([0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0.])

In [57]:
np.ones(14)

array([1., 1., 1., 1., 1., 1., 1., 1., 1., 1., 1., 1., 1., 1.])

In [58]:
np.empty(10)

array([6.23042070e-307, 1.86918699e-306, 1.69121096e-306, 1.29061074e-306,
       7.56587585e-307, 1.37961302e-306, 1.05699242e-307, 8.01097889e-307,
       1.78021527e-306, 8.34451504e-308])

In [59]:
np.linspace(1,10,20)

array([ 1.        ,  1.47368421,  1.94736842,  2.42105263,  2.89473684,
        3.36842105,  3.84210526,  4.31578947,  4.78947368,  5.26315789,
        5.73684211,  6.21052632,  6.68421053,  7.15789474,  7.63157895,
        8.10526316,  8.57894737,  9.05263158,  9.52631579, 10.        ])

In [61]:
np.linspace(1,10,10)

array([ 1.,  2.,  3.,  4.,  5.,  6.,  7.,  8.,  9., 10.])

In [63]:
x = np.array([[4,5,6],[8,9,1]])

In [64]:
x

array([[4, 5, 6],
       [8, 9, 1]])

In [65]:
x.shape

(2, 3)

In [66]:
x.size

6

In [67]:
x.ndim

2

In [68]:
x[1][2]

1

In [75]:
x.reshape(3,2)

array([[4, 5],
       [6, 8],
       [9, 1]])

In [76]:
x.reshape(6,1)

array([[4],
       [5],
       [6],
       [8],
       [9],
       [1]])

In [77]:
x.reshape(-1,2)

array([[4, 5],
       [6, 8],
       [9, 1]])

In [78]:
x.flatten()

array([4, 5, 6, 8, 9, 1])

### Pandas Operation

In [81]:
import pandas as pd

In [85]:
s = pd.Series([56,54,76,87,8,0])

In [86]:
s

0    56
1    54
2    76
3    87
4     8
5     0
dtype: int64

In [87]:
s[2]

76

In [91]:
s = pd.Series([56,54,76,87,8,0], index = range(100,106))

In [92]:
s

100    56
101    54
102    76
103    87
104     8
105     0
dtype: int64

In [93]:
s[104]

8

In [94]:
s.dtype

dtype('int64')

In [95]:
s.size

6

### DataFrame Operations

In [100]:
x = pd.Series([1,2,3,4,5])
y = pd.Series(['darshna', 'shreya','pratiksha','rachana','shrutika'])
z = pd.Series([96.76,98.34,98.43,92.34,84.76])

In [101]:
df = pd.DataFrame({
'roll':x,
'name':y,
'marks':z
})

In [102]:
df

   roll       name  marks
0     1    darshna  96.76
1     2     shreya  98.34
2     3  pratiksha  98.43
3     4    rachana  92.34
4     5   shrutika  84.76

In [103]:
df.shape

(5, 3)

In [104]:
df.columns

Index(['roll', 'name', 'marks'], dtype='object')

In [105]:
df.size

15

In [106]:
df.T

             0       1          2        3         4
roll         1       2          3        4         5
name   darshna  shreya  pratiksha  rachana  shrutika
marks    96.76   98.34      98.43    92.34     84.76

In [107]:
list(s)

[56, 54, 76, 87, 8, 0]

In [108]:
tuple(s)

(56, 54, 76, 87, 8, 0)

In [109]:
set(s)

{0, 8, 54, 56, 76, 87}

In [110]:
s.values

array([56, 54, 76, 87,  8,  0], dtype=int64)

In [111]:
df.values

array([[1, 'darshna', 96.76],
       [2, 'shreya', 98.34],
       [3, 'pratiksha', 98.43],
       [4, 'rachana', 92.34],
       [5, 'shrutika', 84.76]], dtype=object)

In [112]:
dict(df)

{'roll': 0    1
 1    2
 2    3
 3    4
 4    5
 Name: roll, dtype: int64,
 'name': 0      darshna
 1       shreya
 2    pratiksha
 3      rachana
 4     shrutika
 Name: name, dtype: object,
 'marks': 0    96.76
 1    98.34
 2    98.43
 3    92.34
 4    84.76
 Name: marks, dtype: float64}

In [125]:
x = np.arange(1,100)

In [120]:
x

array([ 1,  2,  3,  4,  5,  6,  7,  8,  9, 10, 11, 12, 13, 14, 15, 16, 17,
       18, 19, 20, 21, 22, 23, 24, 25, 26, 27, 28, 29, 30, 31, 32, 33, 34,
       35, 36, 37, 38, 39, 40, 41, 42, 43, 44, 45, 46, 47, 48, 49, 50, 51,
       52, 53, 54, 55, 56, 57, 58, 59, 60, 61, 62, 63, 64, 65, 66, 67, 68,
       69, 70, 71, 72, 73, 74, 75, 76, 77, 78, 79, 80, 81, 82, 83, 84, 85,
       86, 87, 88, 89, 90, 91, 92, 93, 94, 95, 96, 97, 98, 99])

In [121]:
y =np.array([70,60,7,35,40])

In [123]:
x.mean()

50.0

In [126]:
y.mean()

42.4

In [127]:
import os
os.getcwd()

'C:\\Users\\ADMIN'